.tag{
  background: #FF6060;
  border-radius: 5px;
  color: white;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.tag__text{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}