

.logements__page{
    color: #FF6060;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logements__wrapper{
    width: 100%;
}

.content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.informations{
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}

.logement__location{
  font-weight: 500;
  color: #FF6060;
  align-self: flex-start;
}


.tags__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.collapsible{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    padding-bottom: 20rem;
}


.rating__host{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2rem;
}

@media screen and (max-width:960px) {
    .logements{
        align-items: center;
    }

    .content{
        width: 100%;
        flex-direction: column;
    }

    .collapsible{
        flex-direction: column;
    }

    .rating__host{
        width: 100%;
        flex-direction: row;
    }
}