/* .home {
    margin: 0 20%;  
}

.logements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    background: lightgray;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 40px;
} */