.collapse{
    width: 100%;
}

.collapse__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
}

.collapse__content{
    background: #f6f6f6;
    color: #FF6060;
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .2s ease-in;
}

.active .collapse__content {
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 1rem;
    opacity: 1;
  }

.vector{
    position: relative;
}

.active .vector{
    transform: rotate(180deg);
}

